{% extends 'base.html.twig' %}

{% block title %}New FraisKm{% endblock %}

{% block body %}
    <h1>Create new FraisKm</h1>

    {{ include('frais_km/_form.html.twig') }}

    <a href="{{ path('frais_km_index') }}">back to list</a>
{% endblock %}
