{% extends 'base.html.twig' %}

{% block title %}New NoteFraisAnnuelle{% endblock %}

{% block body %}
    <h1>Create new NoteFraisAnnuelle</h1>

    {{ include('note_frais_annuelle/_form.html.twig') }}

    <a href="{{ path('note_frais_annuelle_index') }}">back to list</a>
{% endblock %}
